 {% block header %}
              <header>
            
                <nav>
                   <div class="nav-wrapper cyan darken-4">
                     <a href="#!" class="brand-logo">Logo</a>
                     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    
                     {% block menu_desktop %}
                        <ul class="nav right hide-on-med-and-down">
                            <li ><a href="{{ path('usuario_lista') }}">Usuarios</a></li>
                            <li ><a href="{{ path('categoria_lista') }}">Categorias</a></li>
                            <li ><a href="{{ path('imagen_lista') }}">Imagenes</a></li>
                            <li ><a href="#">Productos</a></li>
                            <li ><a href="#">Tipos</a></li>

                            <li><a href="{{ path('usuario_logout') }}">Salir</a></li>
                        </ul>
                        
                                            
                        <form class=" hide-on-med-and-down" id="formSearch" >
                        <div class="input-field" style="max-width: 400pt;">
                            <input id="search" type="search" placeholder="¿Que buscas?" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                            <div id="searchResults" ></div>
                        </div>
                        </form>

                    {% endblock %}
                   </div>
                </nav>
                   
                <ul id="dropdown1" class="dropdown-content">
                 <li><a href="#!">one</a></li>
                 <li><a href="#!">two</a></li>
                 <li class="divider"></li>
                 <li><a href="#!">three</a></li>
               </ul>
                   
                {% block menu_mobile %}    
                    <ul class=" nav sidenav" id="mobile-demo">
                     <li class="search">
                        <form  id="formSearchMobile" >
                            <div class="input-field" >
                              <i class="material-icons prefix">search</i>
                              <input id="searchMobile" type="search" placeholder="¿Que buscas?" style="max-width: 400pt;" required>
                              <label class="label-icon" for="search"></label>
                              <i class="material-icons">close</i>
                              <div id="searchResultsMobile" ></div>
                            </div>
                          </form>
                      </li>
                      <li><a href="sass.html">Sass</a></li>
                      <li><a href="badges.html">Components</a></li>
                      <li><a href="collapsible.html">Javascript</a></li>
                      <li><a href="mobile.html">Mobile</a></li>
                    </ul>
               {% endblock %}
           
        </header>
      {% endblock %}  
       